<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/fypon-polyurethane/fypon-polyurethane-landing-banner-1-xs.jpg  576w,
            /images/support-landing-page/fypon-polyurethane/fypon-polyurethane-landing-banner-1-sm.jpg  768w,
            /images/support-landing-page/fypon-polyurethane/fypon-polyurethane-landing-banner-1-md.jpg  992w,
            /images/support-landing-page/fypon-polyurethane/fypon-polyurethane-landing-banner-1-lg.jpg 1200w,
            /images/support-landing-page/fypon-polyurethane/fypon-polyurethane-landing-banner-1-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-landing-banner-1-xl.jpg"
          alt="fypon polyurethane ceiling"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Fypon Polyurethane</h1>
            <h2>Why Use Polyurethane?</h2>
            <a href="/landing-pages/urethane" class="btn btn-sm btn-elandel"
              ><i class="fal fa-chevron-left"></i> Back to Polyurethane
            </a>
            <a href="/categories/polyurethane" class="btn btn-sm btn-elandel">
              View all Polyurethane <i class="fal fa-chevron-right"></i>
            </a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row justify-content-center landing-text-container">
    <div class="col-12 col-md-8 landing-text-box">
      <p class="one-rem-text-desktop">
        Whether you are going for a Modern Farmhouse or Coastal vibe, Fypon
        Polyurethane beams are the decorative element your home could be
        missing. They add a rustic flare to your space and draw the eye upwards
        making the room seem larger. The best part about Fypon Polyurethane is
        that they are light weight, which makes it easier to get the look you
        want.
      </p>
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row -->

  <div class="row  landing-text-container pb-2">
    <!-- .col-12 landing-text-box-->
    <div class="col-12 col-md-7 col-lg-4 text-center  px-1  landing-text-box">
      <h1>Features & Benefits</h1>
    </div>
    <div class="col-12 col-md-5 d-none align-self-center d-md-block col-lg-8 ">
      <div class="rounded w-100 custom-select-sm btn-elandel"></div>
    </div>
    <!-- col-5 -->
  </div>
  <!-- .row -->

  <div class="row align-items-start landing-text-container">
    <div class="col-6 col-sm-4 col-md-2 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-1.jpg"
        alt="fypon polyurethane"
      />
      <p>
        Lasting performance and minimal upkeep compared to other materials.
      </p>
    </div>
    <div class="col-6 col-sm-4 col-md-2 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-2.jpg"
        alt="fypon polyurethane"
      />
      <p>
        Lightweight and does not require special tools.
      </p>
    </div>
    <div class="col-6 col-sm-4 col-md-2 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-3.jpg"
        alt="fypon polyurethane"
      />
      <p>
        Polyurethane, smooth or textured, comes pre-primed and ready to paint or
        stain.*
      </p>
    </div>
    <div class="col-6 col-sm-4 col-md-2 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-4.jpg"
        alt="fypon polyurethane"
      />
      <p>
        Our closed-cell polyurethane is resistant to insects.
      </p>
    </div>
    <div class="col-6 col-sm-4 col-md-2 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-5.jpg"
        alt="fypon polyurethane"
      />
      <p>
        Ideal for moisture-prone interior spaces like bathrooms, kitchens and
        basements.
      </p>
    </div>
    <div class="col-6 col-sm-4 col-md-2 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-6.jpg"
        alt="fypon polyurethane"
      />
      <p>
        Beautiful and durable in all seasons, withstands the elements better
        than traditional materials.
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row  landing-text-container pb-3">
    <!-- .col-12 landing-text-box-->
    <div class="col-12  col-md-4 col-lg-3 text-center  px-1  landing-text-box">
      <h1>Installation</h1>
    </div>
    <div class="col-12  col-md-8 d-none align-self-center d-md-block col-lg-9 ">
      <div class="rounded w-100 custom-select-sm btn-elandel"></div>
    </div>
    <!-- col-5 -->
  </div>
  <!-- .row -->

  <div class="row align-items-start landing-text-container">
    <div class="col-6 col-sm-3 landing-text-box ">
      <p>
        Each piece has a consistent quality and finish, which require no
        sanding, priming or sealing
      </p>
    </div>
    <div class="col-6 col-sm-3 landing-text-box ">
      <p>
        Pieces can be sawed, drilled, nailed and glued like wood
      </p>
    </div>
    <div class="col-6 col-sm-3 landing-text-box ">
      <p>
        Significantly lighter in weight than wood or plaster products, saving
        time and labor on the job-site
      </p>
    </div>
    <div class="col-6 col-sm-3 landing-text-box ">
      <p>
        Use standard woodworking tools for installation
      </p>
    </div>
    <div class="col-12 landing-text-box">
      <p>
        *See Fypon.com for complete warranty details, exclusions, and
        instructions on proper use of adhesives and painting.
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row  landing-text-container pb-3">
    <!-- .col-12 landing-text-box-->

    <div class="col-12 d-none align-self-center d-md-block ">
      <div class="rounded w-100 custom-select-sm btn-elandel"></div>
    </div>
    <!-- col-5 -->
  </div>
  <!-- .row -->

  <div class="row align-items-start landing-text-container">
    <div class="col-12 col-sm-4 landing-text-box  ">
      <h2>Loctite <sup>®</sup> PL Premium<sup>®</sup> Adhesive</h2>
      <p>
        A urethane-based adhesive such as Loctite PL Premium Construction
        Adhesive must be used on all joints when installing urethane products.
        For additional information on adhesives, detailed installation
        instructions and finishing information, please visit Fypon.com.
      </p>
    </div>
    <div class="col-12 col-sm-4 landing-text-box  ">
      <h2>Cutting & Milling</h2>
      <p>
        Fypon polyurethane products can be cut and trimmed with standard
        woodworking tools. Table saws, circular saws, jig saws, band saws and
        miter saws will give you excellent results during the installation
        process.
      </p>
      <p>
        Note: Trimming textured product will remove the texture and create an
        exposed polyurethane edge. This edge must be patched with standard wood
        filler and finished with paint or stained to protect the exposed
        polyurethane from discoloration from the sun.
      </p>
    </div>
    <div class="col-12 col-sm-4 landing-text-box  ">
      <h2>Fire Rating</h2>
      <p>
        7a requirements for fire resistant building materials do not apply to
        MOST Fypon polyurethane products. The WUI (Wildland Urban Interface)
        requirements focus on the structural building materials and the fire
        resistance of the structure itself. The Architectural Trim Exception
        EXEMPTS Exterior wall architectural trim, embellishments, fascias, and
        gutters from the requirements of CBC, Chapter 7a.
      </p>
      <p>
        For information purposes only, not to be relied upon for code compliance
        purposes, consult your local building code authority to determine
        suitability.
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 landing-text-box text-center ">
      <h1>Special Order Only Items</h1>
    </div>
  </div>
  <!-- .row -->

  <div class="row  landing-text-container pb-3">
    <div class="col-12  col-md-3 col-lg-2  text-center  px-1  landing-text-box">
      <h1>Corbels</h1>
    </div>
    <!-- .col-12 landing-text-box-->

    <div class="col-12 col-md-9 col-lg-10 d-none align-self-center d-md-block">
      <div class="rounded w-100 custom-select-sm btn-elandel"></div>
    </div>
    <!-- col-5 -->
    <div class="col-12 col-md-5  px-1 landing-text-box">
      <p>
        Stainable woodgrain corbels are offered in several different sizes and
        unique styles. Corbels displayed below have open cavities.
      </p>
    </div>
    <!-- col-5 -->
  </div>
  <!-- .row -->

  <div class="row align-items-start landing-text-container">
    <div class="col-6 col-md-3 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-7.jpg"
        alt="Ogee Style Corbel Standard Woodgrain"
      />
      <h5>Ogee Style Corbel**</h5>
      <h6>Standard Woodgrain</h6>
      <p>
        8-1/2” W x 7” H x 20” P
      </p>
    </div>
    <div class="col-6 col-md-3 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-8.jpg"
        alt="Ogee Style Corbel Standard Woodgrain"
      />
      <h5>Ogee Style Corbel**</h5>
      <h6>Standard Woodgrain</h6>
      <p>
        5-5/8” W x 5-7/8” H x 24” P
      </p>
    </div>
    <div class="col-6 col-md-3 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-9.jpg"
        alt="Ogee Style Corbel Standard Woodgrain"
      />
      <h5>Ogee Style Corbel**</h5>
      <h6>Standard Woodgrain</h6>
      <p>
        7-3/8” W x 7-3/8” H x 11-3/8” P
      </p>
    </div>
    <div class="col-6 col-md-3 landing-text-box text-center ">
      <img
        class="img-fluid"
        src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-10.jpg"
        alt="Cove Style Corbel Standard Woodgrain"
      />
      <h5>Cove Style Corbel**</h5>
      <h6>Standard Woodgrain</h6>
      <p>
        Available in a variety of sizes. All sizes project 18”.
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row  landing-text-container">
    <div class=" col-12  text-center landing-text-container">
      <div class="row  landing-text-container">
        <div
          class="col-12 col-lg-4 text-center  px-1 pt-2 landing-text-box"
        >
          <h3>Rafter Tails</h3>
          <p>All rafter tail parts have open cavities.</p>

        </div>
        <!-- .col-12 landing-text- box-->

        <div
          class="col-12 col-md-6 col-lg-8 d-none align-self-center d-md-block"
        >
          <div class="rounded w-100 custom-select-sm btn-elandel"></div>
        </div>
        <!-- col-5 -->
        
        <div class="col-6  landing-text-box text-center ">
          <img
            class="img-fluid"
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-11.jpg"
            alt="Rough Sawn Woodgrain Rafter Tails"
          />
          <h5>
            Rough Sawn Woodgrain <br />
            Rafter Tails**
          </h5>
          <p>
            Available in a variety of styles and sizes.
          </p>
        </div>
        <div class="col-6  landing-text-box text-center ">
          <img
            class="img-fluid"
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-12.jpg"
            alt="Standard Woodgrain Rafter Tail"
          />
          <h5>
            Standard Woodgrain <br />
            Rafter Tail**
          </h5>
          <p>Available in a variety of sizes.</p>
        </div>
        <!-- col-6 -->
      </div>
      <!-- insiderow -->
    </div>
    <!-- col-12 col-md-6 -->
    
  </div>
  <!-- .row -->

  <div class="row  landing-text-container pb-3">
    <div class="col-12  col-md-4 col-lg-2 text-center  px-1  landing-text-box">
      <h1>Shutters</h1>
    </div>
    <!-- .col-12 landing-text-box-->

    <div class="col-12 col-md-8 col-lg-10 d-none align-self-center d-md-block">
      <div class="rounded w-100 custom-select-sm btn-elandel"></div>
    </div>
    <!-- col-5 -->
  </div>
  <!-- .row -->

  <div class="row  landing-text-container ">
    <div class="col-12 px-sm-0  col-md-6 landing-text-box">
      <div class="row landing-text-container ">
        <div class="col-12 px-sm-0  col-md-6 landing-text-box">
          <img
            class="img-fluid"
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-14.jpg"
            alt="Board & Batten Shutters"
          />
          <h5>
            Board & Batten Shutters**
          </h5>
          <h6>Standard Woodgrain</h6>
          <p>
            Available in a variety of styles and sizes.
          </p>
        </div>
        <!-- col-12 col-md-6 -->
        <div class="col-12 px-sm-0  col-md-6 landing-text-box">
          <div class="row landing-text-container ">
            <div class="col-12 px-sm-0  landing-text-box">
              <img
                class="img-fluid"
                src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-15.jpg"
                alt="Colonial & Spear"
              />

              <h5>
                Hinges**
              </h5>
              <h6>Colonial & Spear</h6>
              <p>
                Primed and ready for paint. Available in a multiple sizes
              </p>
            </div>
            <div class="col-12 px-sm-0  landing-text-box">
              <img
                class="img-fluid"
                src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-16.jpg"
                alt=" Clavos Round & Pyramid"
              />
              <h5>
                Clavos**
              </h5>
              <h6>Round & Pyramid</h6>
              <p>
                Primed and ready for paint. Available in a multiple sizes
              </p>
            </div>
          </div>
          <!-- inner-row -->
        </div>
        <!-- col-12 col-md-6 -->
      </div>
      <!-- outer-row -->
    </div>
    <!-- col-12 col-md-6 -->
    <div class="col-12 col-md-6">
      <div class="row  landing-text-container ">
        <div class="col-12 col-md-6 landing-text-box">
          <img
            class="img-fluid"
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-17.jpg"
            alt="Modern Farmhouse Shaker-Style Shutters"
          />

          <h5>
            Modern Farmhouse Shaker-Style Shutters**
          </h5>
          <p>
            Available in a variety of sizes
          </p>
        </div>
        <!-- col-12 col-md-6 -->
        <div class="col-12 col-md-6 landing-text-box">
          <img
            class="img-fluid"
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-inset-image-18.jpg"
            alt="Shaker Style Shutters"
          />

          <h5>
            Shaker-Style Shutters**
          </h5>
          <p>
            Available in a variety of sizes.
          </p>
        </div>
        <!-- col-12 col-md-6 -->
      </div>
      <!-- outer-row -->
    </div>
    <!-- col-12 col-md-6 -->
  </div>
  <!-- outer-row -->
</div>
<!-- container -->
