<div class="row align-items-center landing-text-container">
  <div
    class=" col-12 col-md-6 text-center landing-text-container order-2 order-md-1"
  >
    <div
      id="carouselExampleIndicators4"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators4"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-product-blend-insets-4a.jpg"
            class="d-block w-100"
            alt="fypon-polyurethane Beauty Image"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/images/support-landing-page/fypon-polyurethane/fypon-polyurethane-product-blend-insets-4b.jpg"
            class="d-block w-100"
            alt="fypon-polyurethane Beauty Image"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators4"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators4"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 landing-text-box order-1 order-md-2">
    <a href="/categories?&subs[]=fypon-polyurethane" style="color:black">
      <h2 class="pb-1 pt-2">Provocative Paneling</h2>
    </a>
    <p>
      The best thing about fypon-polyurethane is that it creates a watertight
      surface due to the way the board overlaps. This detail helps to ensure
      that they fit together seamlessly and with ease. As you can see, it is
      perfect for a bathroom. However, it is also great for walls in family
      homes that will be lived in and need sturdier materials because it can
      make the space seem bigger and allows for an easy clean up.
    </p>
  </div>
</div>
<!-- .row -->
